body {
    padding: 50px;
    background-color: beige;
    }
h1 {
    color: brown;
    }
h1.fnt-red {
    color: red;
}
.fnt-blue {
    color: blue;
}
#nombre_alumno {
    color: red;
    text-decoration: underline;
}
a:link{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}
a:visited {
    color: greenyellow;
    background-color: transparent;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }
ol{
    margin: 0px;
    padding: 0px;
}
ul{
    margin:0px;
    padding:0px;
}
ul.fa-ul{
    margin:0px;
    padding:0px; 
}
.blocexercicis{
    font-family: Arial, Helvetica, sans-serif;
    color: dodgerblue;
}
h3{
    color:royalblue;
    font-family: Arial, Helvetica, sans-serif;
}




    

