body{
    background-color: beige;
}

div.rectangleblau{
    position: relative;
    width: 400px;
    height: 150px;
    top: 150px;
    background-color: aqua;
    left: 200px;
    right: 200px;
    text-align: center;
    z-index:-1;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;

}
div.rectangleblanc{
    position: absolute;
    width: 200px;
    height: 150px;
    top: 0px;
    background-color:white;
    left: 0px;
    z-index: -1;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    
    
}