body{
    background-color: beige;
    font-family: "Oldenburg";
    src: url(https://fonts.google.com/specimen/Oldenburg);
    text-align: center;
}
p::first-letter{
    font-size: 3em;
}
p::first-line{
    color: brown;
}