div.menú{
    position: absolute;
    top:40px;
    text-align: center;
    color: white;
    background-color: blue;
    width:100%;
    font-weight:bold;
    font-size: 150%;
    font-family: 'Times New Roman', Times, serif
    }
div.peu{
    position: absolute;
    bottom:40px;
    text-align: center;
    color: white;
    background-color: red;
    width:100%;
    font-weight: bold;
    font-size: 150%;
    font-family: 'Times New Roman', Times, serif
}

div.enllaç{
    position: relative;
    top:150px;
    text-align: center;
}