body{
    background-color: beige;
}

div.rectangleinvisible{
    position:relative;
    width: 200px;
    height: 200px;
    top: 25%;
    left: 25%;
}
div.quadrat1{
    position: absolute;
    top: 220px;
    left: 220px;
    background-color: red;
    width: 100px;
    height: 100px;
}
div.quadrat2{
    position:absolute;
    top: 220px;
    left: 328px;
    background-color: green;
    width: 100px;
    height: 100px;
    
}
div.quadrat3{
    position:absolute;
    left:220px;
    top: 328px;
    background-color:blue;
    width: 100px;
    height: 100px;
}
div.quadrat4{
    position:absolute;
    top:328px;
    left: 328px;
    background-color:black;
    width: 100px;
    height: 100px;
}
i{
    color: white;
    font-size:50px;
    position: absolute;
    top:25%;
    left:25%;
}