body{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: limegreen;
}
h2{
    color: springgreen;
}
p{
    color: darkolivegreen;
}
img{
    height: 200px;
}
.intern:visited{
    color: teal;
}
.intern:link{
    color:goldenrod;
}