body{
    padding: 30px;
    color: #003B5D;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
tr{
    font-style: normal;
}
table.numfactura{
    position:absolute;
    right: 200px;
    top: 40px;
    border-collapse: collapse;
    width: 300px;
    text-align: center;
}
    tbody {
    border: white 7px solid;
    border-collapse: collapse;
}
    tr#numfacturafila {
    border: #98E2BF 3px solid;
}
table.informaciofiscal{
    margin-left:auto;
    position: absolute;
    right: 170px;
    text-align: left;
    top: 110px;
    width: 330px;
    border-left: #98E2BF 5px solid;
    border-right: #98E2BF 5px solid;
    padding-left: 10px;
}
th{
        width: 200px;
}
#client {
        text-align:left;
        font-weight:bold;
        font-size: 25px;
}
img{
    width: 200px;
    border: black 1px solid;
    position: absolute;
    left: 200px;
}
.dadesempresa{
    left: 200px;
    position: absolute;
    top: 200px;
}
table.preus{
    width: 70%;
    text-align: right;
    position:absolute;
    top: 400px;
    left: 200px;
    caption-side: bottom;
    border-collapse: collapse;
    display: inline-block;
    border-bottom:3px solid #98E2BF;
}
.venciment{
      text-align: left;
      position:absolute;
      top: 540px;
      left: 200px;
  }
#concepte {
    background-color: #98E2BF;
}
tr{
    border: #98E2BF solid 2px;
}
th.preus{
    border-bottom:1px solid #98E2BF;
}
span{
    font-size: 20px;
    font-weight: bold;
}
a:link{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
a:visited {
    color: greenyellow;
    background-color: transparent;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }
a{
    position: absolute;
    top: 600px;
    left: 200px;
    
}