
div.centro {
margin: auto;
width: 40%;
height: 320px;
text-align: center;
background-color:whitesmoke;
font-weight: normal;
padding-top: 25px;
border-radius: 15px;
font-family: Arial;
}

div.producte1 {
    width: 30%;
    height: 350px;
    text-align: left;
    background-color: white;
    border-radius: 10px;
    margin-left: 10px;
    float: left; 
    padding-left: 10px;
}

div.producte2 {
    width: 30%;
    height: 350px;
    text-align: left;
    background-color: white;
    border-radius: 15px;
    display:inline-block
    
    
}

div.producte3 {
    width: 30%;
    height: 350px;
    text-align: left;
    background-color: white;
    border-radius: 10px;
    margin-right: 10px; 
    float: right;
    padding-left: 10px;
    
}
h1{
    font-size:14px;
}

h2 {
    font-weight: normal;
    font-size:14px;
}

b{
    font-size:14px;
    font-weight: normal;
    color:grey;
}
.preu{
    color: black;
    font-weight: bold;
    
}
#cor1{
    color: hotpink;
    position: absolute;
    top: 400px;
    left:470px;
    font-size: 25px;
}
#comentari1{
    color: springgreen;
    position: absolute;
    top: 400px;
    left:550px;
    font-size: 25px;
}
#cor2{
    color: hotpink;
    position: absolute;
    top: 400px;
    left:630px;
    font-size: 25px;
}
#comentari2{
    color: springgreen;
    position: absolute;
    top: 400px;
    left:710px;
    font-size: 25px;
}
#cor3{
    color: hotpink;
    position: absolute;
    top: 400px;
    left:790px;
    font-size: 25px;
}
#comentari3{
    color: springgreen;
    position: absolute;
    top: 400px;
    left:870px;
    font-size: 25px;
}
.fonsbicis{
    background-color: whitesmoke;
}