body{
    margin: auto;
    margin-top: 10%;
    margin-left: 20%;
}

div{
    width: 50px;
    height:50px;
    border: 1px solid white;
    background-color: grey;
    float: left;
    position: relative;
    
}
div.fila{
    background-color: white;
    width: 312px;
    height: 51px;
    float: left;
}
div.campo{
    background-color: white;
    width: 312px;
    height: 152px;
    
}
div:hover{
    background-color: green;
}
div.mina:hover{
    background-color: red;
    
}
i{
    font-size: 30px;
    opacity: 0;
    position: absolute;
    top: 25%;
    left:25%;
}
i:hover{
   opacity: 1;
}
.buscamines{
    color: teal;
}




