


div.rectangle {
    position: relative;
    width: 50%;
    height: 50%;
    background-color:crimson;
    margin-left: 25%;
    margin-top: 20%;
    padding:50px -0px 50px -0px;
    
    
    
}

div.frase {
	position: absolute;
	top: 50%;
	left: 50%;
	height:30%;
	width: 50%;
    margin: -5% 0 0 -25%;
    font-weight: normal;
    font-family: Arial;
    color: white;
    font-size: 200%;
    text-align: center;
}

div.cercle1 {
    position: absolute;
    left: -3%;
    top: -25%;
    border-radius: 50%;
    background-color:beige;
    height: 50px;
    width: 50px;
    border-style: solid;
    border-color: crimson;
    border-width: 5px;
}
div.cercle2 {
    position: absolute;
    right: -3%;
    top: -25%;
    border-radius: 50%;
    background-color:beige;
    height: 50px;
    width: 50px;
    border-style: solid;
    border-color: crimson;
    border-width: 5px;
}
div.cercle3 {
    position: absolute;
    left: -3%;
    top: 65%;
    border-radius: 50%;
    background-color:beige;
    height: 50px;
    width: 50px;
    border-style: solid;
    border-color: crimson;
    border-width: 5px;
}
div.cercle4 {
    position: absolute;
    right: -3%;
    top: 65%;
    border-radius: 50%;
    background-color:beige;
    height: 50px;
    width: 50px;
    border-style: solid;
    border-color: crimson;
    border-width: 5px;
}


body{
    background-color: beige;
}
   


