body {
    padding: 50px;
    background-color: beige;
    }
h1.títol {
    color: navy;
    font-style: italic;
    font-size: 30px;
}
p.text {
    color: darkblue;
    font-size: 15px;
}
p.destacat {
    font-weight: bold;
    font-style: italic;
}