form.formulari{
    padding: 30px 30px 10px 30px;
    margin: auto;
    
}
form.formulari > label{
    width: 100px;
    display: inline-block;
    color: blue;
    font-weight: bold;
}
form.formulari > input {
    width: 400px;
    margin-bottom: 10px;
    
}
form.formulari button{
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
}
#poblacio{
    color:blue;
    font-weight: bold;
}
#poblacio > input{
    width: 250px;
    margin-bottom: 10px;
    display: inline-block;
}
#codi > input{
    width: 200px;
    margin-bottom: 10px;
}
body{
    background-color: beige;
}
p{
    color: blue;
    font-weight: bold;
    margin-left: 200px;
    margin-top: -70px;
}